SYNAPSE_SERVER_NAME=SYNAPSE_SERVER_NAME
REG_SECRET=REG_SECRET
MACAROON_SECRET=MACAROON_SECRET
FORM_SECRET=FORM_SECRET
SIGNING_KEY=SIGNING_KEY
RECAPTCHA_PUBLIC=RECAPTCHA_PUBLIC
RECAPTCHA_PRIVATE=RECAPTCHA_PRIVATE
ADMIN_USER=ADMIN_USER
ADMIN_PASSWORD=ADMIN_PASSWORD