SYNAPSE_SERVER_NAME=SYNAPSE_SERVER_NAME
ADMIN_USER=ADMIN_USER
ADMIN_PASSWORD=ADMIN_PASSWORD
TUNA_TOKEN=TUNA_TOKEN

POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD